# Dependencias
node_modules/

# Compilado
dist/

# Variables de entorno
.env
.env.local
.env.*.local

# Testing
coverage/

# Logs
*.log
npm-debug.log*

# IDEs
.vscode/
.idea/

# Sistema Operativo
.DS_Store
Thumbs.db

# Caché
.eslintcache